#searchBar {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-width: 0;
  background-color: transparent;
  border-bottom: 1px solid #cacaca;
  width: 95%;
}

.navigation {
  width: 100%;
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    display: block;
    text-align: center;
  }
}

.top-navigation {
  position: relative;

  ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  li {
    padding: 14px 16px;
    a {
      text-decoration: none;
      color: #000000;

      &:hover:not(.active) {
        color: teal;
      }
      &.active {
        color: teal;
      }
    }
  }
}

.mobile-navigation {
  position: fixed;
  bottom: 0;
  z-index: 1001;

  ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
    background-color: #1477d7;
  }

  li {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    border-right: 1px solid white;
    a {
      text-decoration: none;
      color: white;
      .container {
        span {
          display: block;
        }
      }
    }

    &:hover {
      background: #00263e;
    }
  }
}

.searchBar {
  display: inline-block;
  position: relative;
}

#searchIcon {
  margin-top: 10px;
}
.selectField {
  border: 1px solid red;
  width: 100px;
}

#plan {
  border-radius: 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #cacaca;
  width: 310px;
}

#year {
  border-radius: 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #cacaca;
  width: 100px;
}
.filter-list-content {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    -webkit-transition:  0.4s;
    transition:  0.4s;
  &.in-active  {
    width: 0;
  }
  &.active {
    width: 25%;
  }
}

#sidenav {
  background-color: #fff;
  padding-top: 60px;
  height: 100%;
  #closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 15px;
  }
  li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
}
.filter-btn {
  float: left;
}
.back-btn { 
  display: none;
}
.clearfix {
  clear: both;
}

@media screen and (max-width: 40em) {
  #sidenav {
    padding-top: 20px;
    width: 100%;

    li {
      font-size: 18px;
    }
  }
}

table {
  border: none;
  margin-top: none;
  &.overview tr {
    th, td {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

th {
  text-align: left;
}

table.overview {
  tr {
    background-color: #ffffff;
    border-top: 1px solid #e5e3e0;
    border-bottom: 1px solid #e5e3e0;
    border-collapse: collapse;
    td {
      border-right: none;
      border-left: none;
    }
  }
  thead tr th {
    background: #0f5499;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.25rem;
  }
  tbody tr {
    th {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      color: #222222;
    }
    .total {
      background: #dddddd;
      border: none;
      color: #222222;
    }
  }
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 40em) {
  .responsiveTable {
    width: 100%;
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 0px;
    }
    tbody tr {
      border-bottom: 1px solid #000;
      padding: 0.25em;
    }
    td {
      &.pivoted {
        border: none !important;
        position: relative;
        padding-left: 50% !important;
        text-align: left !important;
      }
      .tdBefore {
        position: absolute;
        display: block;
        left: 1rem;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left !important;
        font-weight: 600;
      }
    }
  }
  .provider-header {
    visibility: hidden;
  }
  .desktop-view {
    display: none;
  }
  .back-btn {
    display: block;
    float: left;
  }
  .filter-btn {
    float: right;
  }
}

body {
  margin-left: 150px;
}

.sidenav-content {
  height: 80%;
  overflow-x: auto;
}
.chart  {
  display: inline !important;
  canvas {
    display: inline !important;
  }
}